<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.java.book.mapper.BookMapper">
	
	<!-- 도서 번호 -->
	<select id="selectBookNo" resultType="int">
		SELECT NVL(MAX(book_no), 0) + 1
	 	  FROM book_tbl_06
	</select>
		
	<!-- 도서 정보 등록 -->
	<insert id="insertBook" parameterType="BookVO">
		INSERT INTO book_tbl_06
					(
						book_no
						,book_name
						<if test="bookCoverimg != null and !bookCoverimg.equals('')">
						,book_coverimg
						</if>
						<if test="bookDate != null">
						,book_date
						</if>
						<if test="bookPrice != null">
						,book_price
						</if>
						<if test="bookPublisher != null and !bookCoverimg.equals('')">
						,book_publisher
						</if>
						<if test="bookInfo != null and !bookCoverimg.equals('')">
						,book_info
						</if>
					)
					
			VALUES (
						#{bookNo}
						,#{bookName}
						<if test="bookCoverimg != null and !bookCoverimg.equals('')">
						,#{bookCoverimg}
						</if>
						<if test="bookDate != null">
						,#{bookDate}
						</if>
						<if test="bookPrice > 0">
						,#{bookPrice}
						</if>
						<if test="bookPublisher != null and !bookCoverimg.equals('')">
						,#{bookPublisher}
						</if>
						<if test="bookInfo != null and !bookCoverimg.equals('')">
						,#{bookInfo}
						</if>
					)
	</insert>
	
	<!-- 도서 목록 조회 -->
	<select id="selectBookAllList" resultType="BookVO">
		SELECT book_no,
			   book_name,
			   book_coverimg,
			   book_date,
			   book_price,
			   book_publisher,
			   book_info
		  FROM book_tbl_06
	  ORDER BY book_no
	</select>

	<!-- 대여 현황 조회 -->
	<select id="selectRentList" resultType="RentVO">
		SELECT b.book_no no, b.book_name name, SUM(r.rent_price) sum, COUNT(b.book_no) count
		  FROM book_tbl_06 b JOIN rent_tbl_06 r
		    ON b.book_no = r.book_no
	  GROUP BY b.book_no, b.book_name
	  ORDER BY b.book_no
	</select>
</mapper>